:root {
  --primary-color: rgb(59 130 246);
  --secondary-color: #324c65;
  --tertiary-color: #836549;
  --fourth-color: #7fb7bc;
  --text-dark: #232d35;
  --text-light: #656c78;
  --bg-light: #f8fafc;
  --bg-white: #ffffff;
  --border-color: #e5e7eb;
  --border-color-dark: #7092c9;
}

