.custom-button {
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.3s ease;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
}

.custom-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px var(--border-color-dark);
}

.custom-button.btn-primary {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.custom-button.btn-primary:hover {
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.custom-button.btn-outline-primary {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.custom-button.btn-outline-primary:hover {
  background-color: var(--primary-color);
  color: white;
}

