.project-card {
  background-color: var(--text-dark);
  color: white;
  border: none;
  border-radius: 12px;
  transition: all 0.3s ease;
  padding: 1.5rem;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.project-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  margin-bottom: 1rem;
}

.project-icon {
  position: relative;
  width: 100%;
  height: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0 auto 1rem auto;
}

.project-card:hover .project-icon {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  border-radius: 8px;
  box-shadow: 0 8px 24px var(--secondary-color);
}

.project-card:active .project-icon {
  transform: scale(0.85);
  transition: transform 0.1s ease;
}

.project-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.project-description {
  font-size: 0.85rem;
  color: var(--text-dark);
  line-height: 1.6;
  margin-bottom: 1rem;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tech-badge {
  background-color: var(--secondary-color);
  color: var(--text-lightest);
  padding: 0.25rem 0.75rem;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  border: 1px solid var(--secondary-color);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.project-link {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

.project-image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  cursor: zoom-out;
}

.modal-img {
  max-width: 90vw;
  max-height: 80vh;
  border-radius: 2px;
  box-shadow: 0 8px 32px rgba(0,0,0,0.4);
  background: rgb(0, 0, 0);
  /* padding: 0.1rem; */
  border-radius: 8px; 
  
}

.close-modal {
  position: absolute;
  top: 32px;
  right: 48px;
  font-size: 2.5rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
  transition: color 0.2s;
}

.close-modal:hover {
  color: var(--primary-color);
}

