.typewriter {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--text-dark);
  margin-bottom: 1rem;
  line-height: 1.2;
  display: inline-block;
  position: relative;
  
}


.typewriter-cursor {
  display: inline-block;
  width: 3px;
  color: var(--primary-color);
  margin-left: 2px;
  animation: cursorBlink 0.5s infinite;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} 

.typewriter-cursor.visible {
  opacity: 1;
}

@keyframes cursorBlink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@media (max-width: 991px) {
  .typewriter {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .typewriter {
    font-size: 2rem;
  }
}
